@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.contact-card{
    width: 100%;
    height: 100vh;
    background: transparent;
}
.cont-one{
	width: 100%;
	height: 200px;
	font-family: "Josefin Sans", sans-serif;
	font-size: 44px;
	background-color: transparent;
	color: silver;
	padding: 5px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
}
body.light-mode .cont-one{
	color: gray;
}

.cont-two-one{
	height: 500px;
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 60px;
	/* justify-content: center; */
	background: transparent;
	padding: 6px;
}
.cont-two-two{
	height: 500px;
	width: 50%;
	background-color: transparent;
}
.social-logos{
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: -10px;
	align-items :flex-start;
}
.social-logos svg{
	font-size: 58px;
	border-radius: 10px;
	background-color: silver;
	padding: 12px;
	color: gray;
}
.cont-two{
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	height: auto;
	background: transparent;
	padding: 5px;
}
.cont-mail{
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin-left: 10px;
	flex-wrap: wrap;
}
.contact-icon svg{
	font-size: 52px;
	border-radius: 10px;
	background-color: gray;
	padding: 10px;
	color: silver;
}
body.light-mode .contact-icon svg{
	background-color: gainsboro;
	color: white;
}
.contact-text{
	font-family: "Josefin Sans", sans-serif;
	display: flex;
	align-items: center;
	font-size: .95em;
	color: gainsboro;
	flex-direction: row;
	flex-wrap: wrap;
}
body.light-mode .contact-text{
	color: gray;
}
.c-title-underline{
	width: 30%;
    height: 1px;
    background-color: gray;
    transform: scaleY(0.4); /* daha ince gösterir */
    margin: auto;
    margin-bottom:80px;
}
.cont-one .card-text{
	width: 100%;
	text-align: center;
	margin-top: 50px;
	margin-bottom:20px;
	padding: 0px;
}
body.light-mode .cont-one .card-text{
	color: black;
}
